body {
	background-color: #e9e9e9;
	min-width: 100%;
}

/* Top logo */
.top_logo {
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	justify-content: center;
}

/* Products list */
.products_list-wrapper {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Lightbox */
.lightbox {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 10;
}

.lightbox_content {
	position: relative;
	padding: 50px;
	border-radius: 10px;
	background-color: #ffffff
}

.lightbox_close {
	position: absolute;
	display: block;
	right: 10px;
	top: 10px;
}

.lightbox_form {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 3fr 2fr;
	gap: 25px;
	width: 500px;
}

.floating-button {
	display: block;
	position: fixed;
	right: 15px;
	bottom: 15px;
}